@charset "utf-8";
/* CSS Document */

@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.1/dist/css/yakuhanmp_s.css");
@import url("css/basic.css");
@import url("css/box.css");
@import url("css/page.css");
@import url("css/header.css");
@import url("js/swiper-bundle.min.css");

@font-face {
  font-family: "Controls";
  src: url("./fonts/PLAYB___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cookie {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 16px;
  background: #fff;
  border-top: 1px solid #ccc;

  z-index: 2147483647;
}

.cookie__hide {
  display: none;
}

.cookie__banner__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.cookie__buttons {
  display: flex;
  gap: 8px;
}
